
.commentStyleWrapper {
  background-color: $lightGrayColor;
  padding: $defaultPadding;
}

.commentUserWrapper {
  @include displayFlex();
  @include flexDirection(row);
 
  .userInfo {
    @include displayFlex();
    @include flexDirection(column);
    margin-left: 10px;
  }
}
