
.LoginMainWrapper {
  @include displayFlex();
  background-color: $lightGrayColor;
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;

  .defaultCardWrapper {
    @include displayFlex();
    @include flexDirection(column);
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 30px !important;
    height: 400px;

    .formWraper {
      margin: $defaultPadding 0px;
    }
  }

  .loginWrapper {
    margin-right: $defaultPadding;
  }

  .registerWrapper {
    margin-left: $defaultPadding;
  }
}
