.todo {
    .defaultPadding {
        padding: 15px !important;
      }
    .floatRight {
        float: right;
    }  
    .inputSize {
        width: 49%!important;
    }
    .floatLeft {
        float: left;
    }  
    .paddingLeft {
        padding-left: 10px !important;
      }
}

