

.defaultTagWrapper {
  @extend .fullWidthDiv;
  margin-top: 10px;
  margin-bottom: 10px;

  .showTags {
    @extend .fullWidthDiv;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
      margin-right: 5px;
      padding: 5px !important;
    }
  }
}
